/* Navbar styling */
.navbar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1E90FF; /* Blue for the main header */
    color: white;
    flex-wrap: nowrap;
  }
  
  .nav-logo {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    gap: 20px; /* Spacing between links */
    flex-shrink: 0;
    padding: 10px;
    padding-right: 40px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 5px 10px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  